html,
body {
    margin: 0;
    padding: 0;
}


body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 2em;
    background-image: linear-gradient(to right, rgba(76, 0, 255, 0), rgb(0, 140, 255));
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
	padding: 50px;
    top:50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    border: 3px solid  rgb(0, 0, 0);
    border-radius: 15px ;
}
h1 {
    position: relative;
    display: inline-block;
    font-size: 270%;
}

#addTodoInput {
	margin: 24px;
	padding:17px;
	width: 375px;
	border: none;
	border-bottom: 3px solid black;
}

.addTodosContainer {
    padding: 16px;
    border: none;
}

.todoListContainer,
html.todoItem:active {
    position: relative;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
	bottom: 70px;
    display:inline-block;
}


.todoItem {
    position: relative;
	padding:12px;
    left: 15px;
    width: 303px;
	margin:2px;
}

.todoItemcompleted {
	position: relative;
	padding:12px;
    left: 15px;
    width: 303px;
	margin:2px;
}

.wrap {
    position: relative;
    left:20px;
    padding:30px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    
}

.deletebutton {
    position: relative;
    display: inline-block;
    left:20px;
}